FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSMovimientosInventario/MovimientosInventarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MovimientosInventarioService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/MovimientosInventarioService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorProductoVarianteMovInventario">
    <part name="parameters" element="tns:listarPorProductoVarianteMovInventario" />
  </message>
  <message name="listarPorProductoVarianteMovInventarioResponse">
    <part name="parameters" element="tns:listarPorProductoVarianteMovInventarioResponse" />
  </message>
  <message name="listarPorTipoMovimientoMovInventario">
    <part name="parameters" element="tns:listarPorTipoMovimientoMovInventario" />
  </message>
  <message name="listarPorTipoMovimientoMovInventarioResponse">
    <part name="parameters" element="tns:listarPorTipoMovimientoMovInventarioResponse" />
  </message>
  <message name="listarMovimientosRecientesMovInventario">
    <part name="parameters" element="tns:listarMovimientosRecientesMovInventario" />
  </message>
  <message name="listarMovimientosRecientesMovInventarioResponse">
    <part name="parameters" element="tns:listarMovimientosRecientesMovInventarioResponse" />
  </message>
  <message name="listarPorUsuarioMovInventario">
    <part name="parameters" element="tns:listarPorUsuarioMovInventario" />
  </message>
  <message name="listarPorUsuarioMovInventarioResponse">
    <part name="parameters" element="tns:listarPorUsuarioMovInventarioResponse" />
  </message>
  <message name="crearAjusteInventarioMovInventario">
    <part name="parameters" element="tns:crearAjusteInventarioMovInventario" />
  </message>
  <message name="crearAjusteInventarioMovInventarioResponse">
    <part name="parameters" element="tns:crearAjusteInventarioMovInventarioResponse" />
  </message>
  <message name="registrarIngresoMovInventario">
    <part name="parameters" element="tns:registrarIngresoMovInventario" />
  </message>
  <message name="registrarIngresoMovInventarioResponse">
    <part name="parameters" element="tns:registrarIngresoMovInventarioResponse" />
  </message>
  <message name="registrarSalidaMovInventario">
    <part name="parameters" element="tns:registrarSalidaMovInventario" />
  </message>
  <message name="registrarSalidaMovInventarioResponse">
    <part name="parameters" element="tns:registrarSalidaMovInventarioResponse" />
  </message>
  <message name="listarPorRangoFechasMovInventario">
    <part name="parameters" element="tns:listarPorRangoFechasMovInventario" />
  </message>
  <message name="listarPorRangoFechasMovInventarioResponse">
    <part name="parameters" element="tns:listarPorRangoFechasMovInventarioResponse" />
  </message>
  <message name="insertarMovInventario">
    <part name="parameters" element="tns:insertarMovInventario" />
  </message>
  <message name="insertarMovInventarioResponse">
    <part name="parameters" element="tns:insertarMovInventarioResponse" />
  </message>
  <message name="obtenerPorIdMovInventario">
    <part name="parameters" element="tns:obtenerPorIdMovInventario" />
  </message>
  <message name="obtenerPorIdMovInventarioResponse">
    <part name="parameters" element="tns:obtenerPorIdMovInventarioResponse" />
  </message>
  <message name="listarTodosMovInventario">
    <part name="parameters" element="tns:listarTodosMovInventario" />
  </message>
  <message name="listarTodosMovInventarioResponse">
    <part name="parameters" element="tns:listarTodosMovInventarioResponse" />
  </message>
  <message name="modificarMovInventario">
    <part name="parameters" element="tns:modificarMovInventario" />
  </message>
  <message name="modificarMovInventarioResponse">
    <part name="parameters" element="tns:modificarMovInventarioResponse" />
  </message>
  <portType name="MovimientosInventario">
    <operation name="listarPorProductoVarianteMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorProductoVarianteMovInventarioRequest" message="tns:listarPorProductoVarianteMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorProductoVarianteMovInventarioResponse" message="tns:listarPorProductoVarianteMovInventarioResponse" />
    </operation>
    <operation name="listarPorTipoMovimientoMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorTipoMovimientoMovInventarioRequest" message="tns:listarPorTipoMovimientoMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorTipoMovimientoMovInventarioResponse" message="tns:listarPorTipoMovimientoMovInventarioResponse" />
    </operation>
    <operation name="listarMovimientosRecientesMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarMovimientosRecientesMovInventarioRequest" message="tns:listarMovimientosRecientesMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarMovimientosRecientesMovInventarioResponse" message="tns:listarMovimientosRecientesMovInventarioResponse" />
    </operation>
    <operation name="listarPorUsuarioMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorUsuarioMovInventarioRequest" message="tns:listarPorUsuarioMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorUsuarioMovInventarioResponse" message="tns:listarPorUsuarioMovInventarioResponse" />
    </operation>
    <operation name="crearAjusteInventarioMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/crearAjusteInventarioMovInventarioRequest" message="tns:crearAjusteInventarioMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/crearAjusteInventarioMovInventarioResponse" message="tns:crearAjusteInventarioMovInventarioResponse" />
    </operation>
    <operation name="registrarIngresoMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/registrarIngresoMovInventarioRequest" message="tns:registrarIngresoMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/registrarIngresoMovInventarioResponse" message="tns:registrarIngresoMovInventarioResponse" />
    </operation>
    <operation name="registrarSalidaMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/registrarSalidaMovInventarioRequest" message="tns:registrarSalidaMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/registrarSalidaMovInventarioResponse" message="tns:registrarSalidaMovInventarioResponse" />
    </operation>
    <operation name="listarPorRangoFechasMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorRangoFechasMovInventarioRequest" message="tns:listarPorRangoFechasMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarPorRangoFechasMovInventarioResponse" message="tns:listarPorRangoFechasMovInventarioResponse" />
    </operation>
    <operation name="insertarMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/insertarMovInventarioRequest" message="tns:insertarMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/insertarMovInventarioResponse" message="tns:insertarMovInventarioResponse" />
    </operation>
    <operation name="obtenerPorIdMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/obtenerPorIdMovInventarioRequest" message="tns:obtenerPorIdMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/obtenerPorIdMovInventarioResponse" message="tns:obtenerPorIdMovInventarioResponse" />
    </operation>
    <operation name="listarTodosMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarTodosMovInventarioRequest" message="tns:listarTodosMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/listarTodosMovInventarioResponse" message="tns:listarTodosMovInventarioResponse" />
    </operation>
    <operation name="modificarMovInventario">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/modificarMovInventarioRequest" message="tns:modificarMovInventario" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/MovimientosInventario/modificarMovInventarioResponse" message="tns:modificarMovInventarioResponse" />
    </operation>
  </portType>
  <binding name="MovimientosInventarioPortBinding" type="tns:MovimientosInventario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorProductoVarianteMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorTipoMovimientoMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMovimientosRecientesMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorUsuarioMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearAjusteInventarioMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarIngresoMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarSalidaMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorRangoFechasMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMovInventario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MovimientosInventarioService">
    <port name="MovimientosInventarioPort" binding="tns:MovimientosInventarioPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/MovimientosInventarioService" />
    </port>
  </service>
</definitions>