FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSComprobantesPago/ComprobantesPagoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComprobantesPagoService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/ComprobantesPagoService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdComprobPago">
    <part name="parameters" element="tns:obtenerPorIdComprobPago" />
  </message>
  <message name="obtenerPorIdComprobPagoResponse">
    <part name="parameters" element="tns:obtenerPorIdComprobPagoResponse" />
  </message>
  <message name="modificarComprobPago">
    <part name="parameters" element="tns:modificarComprobPago" />
  </message>
  <message name="modificarComprobPagoResponse">
    <part name="parameters" element="tns:modificarComprobPagoResponse" />
  </message>
  <message name="insertarComprobPago">
    <part name="parameters" element="tns:insertarComprobPago" />
  </message>
  <message name="insertarComprobPagoResponse">
    <part name="parameters" element="tns:insertarComprobPagoResponse" />
  </message>
  <message name="listarTodosComprobantePago">
    <part name="parameters" element="tns:listarTodosComprobantePago" />
  </message>
  <message name="listarTodosComprobantePagoResponse">
    <part name="parameters" element="tns:listarTodosComprobantePagoResponse" />
  </message>
  <message name="obtenerPorVentaIdComprobPago">
    <part name="parameters" element="tns:obtenerPorVentaIdComprobPago" />
  </message>
  <message name="obtenerPorVentaIdComprobPagoResponse">
    <part name="parameters" element="tns:obtenerPorVentaIdComprobPagoResponse" />
  </message>
  <portType name="ComprobantesPago">
    <operation name="obtenerPorIdComprobPago">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/obtenerPorIdComprobPagoRequest" message="tns:obtenerPorIdComprobPago" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/obtenerPorIdComprobPagoResponse" message="tns:obtenerPorIdComprobPagoResponse" />
    </operation>
    <operation name="modificarComprobPago">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/modificarComprobPagoRequest" message="tns:modificarComprobPago" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/modificarComprobPagoResponse" message="tns:modificarComprobPagoResponse" />
    </operation>
    <operation name="insertarComprobPago">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/insertarComprobPagoRequest" message="tns:insertarComprobPago" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/insertarComprobPagoResponse" message="tns:insertarComprobPagoResponse" />
    </operation>
    <operation name="listarTodosComprobantePago">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/listarTodosComprobantePagoRequest" message="tns:listarTodosComprobantePago" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/listarTodosComprobantePagoResponse" message="tns:listarTodosComprobantePagoResponse" />
    </operation>
    <operation name="obtenerPorVentaIdComprobPago">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/obtenerPorVentaIdComprobPagoRequest" message="tns:obtenerPorVentaIdComprobPago" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ComprobantesPago/obtenerPorVentaIdComprobPagoResponse" message="tns:obtenerPorVentaIdComprobPagoResponse" />
    </operation>
  </portType>
  <binding name="ComprobantesPagoPortBinding" type="tns:ComprobantesPago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdComprobPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarComprobPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComprobPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorVentaIdComprobPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprobantesPagoService">
    <port name="ComprobantesPagoPort" binding="tns:ComprobantesPagoPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/ComprobantesPagoService" />
    </port>
  </service>
</definitions>