FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSTiposUsuario/TiposUsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosTipoUsuario" type="tns:listarTodosTipoUsuario" />
  <xs:element name="listarTodosTipoUsuarioResponse" type="tns:listarTodosTipoUsuarioResponse" />
  <xs:element name="obtenerPorIdTipoUsuario" type="tns:obtenerPorIdTipoUsuario" />
  <xs:element name="obtenerPorIdTipoUsuarioResponse" type="tns:obtenerPorIdTipoUsuarioResponse" />
  <xs:element name="tiposUsuarioDTO" type="tns:tiposUsuarioDTO" />
  <xs:complexType name="listarTodosTipoUsuario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTipoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tiposUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTipoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tiposUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>