FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSVentas/VentasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VentasService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/VentasService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarVenta">
    <part name="parameters" element="tns:insertarVenta" />
  </message>
  <message name="insertarVentaResponse">
    <part name="parameters" element="tns:insertarVentaResponse" />
  </message>
  <message name="obtenerPorIdVenta">
    <part name="parameters" element="tns:obtenerPorIdVenta" />
  </message>
  <message name="obtenerPorIdVentaResponse">
    <part name="parameters" element="tns:obtenerPorIdVentaResponse" />
  </message>
  <message name="listarTodosVenta">
    <part name="parameters" element="tns:listarTodosVenta" />
  </message>
  <message name="listarTodosVentaResponse">
    <part name="parameters" element="tns:listarTodosVentaResponse" />
  </message>
  <message name="eliminarVenta">
    <part name="parameters" element="tns:eliminarVenta" />
  </message>
  <message name="eliminarVentaResponse">
    <part name="parameters" element="tns:eliminarVentaResponse" />
  </message>
  <message name="modificarVenta">
    <part name="parameters" element="tns:modificarVenta" />
  </message>
  <message name="modificarVentaResponse">
    <part name="parameters" element="tns:modificarVentaResponse" />
  </message>
  <portType name="Ventas">
    <operation name="insertarVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/insertarVentaRequest" message="tns:insertarVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/insertarVentaResponse" message="tns:insertarVentaResponse" />
    </operation>
    <operation name="obtenerPorIdVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/obtenerPorIdVentaRequest" message="tns:obtenerPorIdVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/obtenerPorIdVentaResponse" message="tns:obtenerPorIdVentaResponse" />
    </operation>
    <operation name="listarTodosVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/listarTodosVentaRequest" message="tns:listarTodosVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/listarTodosVentaResponse" message="tns:listarTodosVentaResponse" />
    </operation>
    <operation name="eliminarVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/eliminarVentaRequest" message="tns:eliminarVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/eliminarVentaResponse" message="tns:eliminarVentaResponse" />
    </operation>
    <operation name="modificarVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/modificarVentaRequest" message="tns:modificarVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Ventas/modificarVentaResponse" message="tns:modificarVentaResponse" />
    </operation>
  </portType>
  <binding name="VentasPortBinding" type="tns:Ventas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VentasService">
    <port name="VentasPort" binding="tns:VentasPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/VentasService" />
    </port>
  </service>
</definitions>