FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSCategorias/CategoriasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CategoriasService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/CategoriasService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdCategoria">
    <part name="parameters" element="tns:obtenerPorIdCategoria" />
  </message>
  <message name="obtenerPorIdCategoriaResponse">
    <part name="parameters" element="tns:obtenerPorIdCategoriaResponse" />
  </message>
  <message name="insertarCategoria">
    <part name="parameters" element="tns:insertarCategoria" />
  </message>
  <message name="insertarCategoriaResponse">
    <part name="parameters" element="tns:insertarCategoriaResponse" />
  </message>
  <message name="modificarCategoria">
    <part name="parameters" element="tns:modificarCategoria" />
  </message>
  <message name="modificarCategoriaResponse">
    <part name="parameters" element="tns:modificarCategoriaResponse" />
  </message>
  <message name="listarTodosCategoria">
    <part name="parameters" element="tns:listarTodosCategoria" />
  </message>
  <message name="listarTodosCategoriaResponse">
    <part name="parameters" element="tns:listarTodosCategoriaResponse" />
  </message>
  <portType name="Categorias">
    <operation name="obtenerPorIdCategoria">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/obtenerPorIdCategoriaRequest" message="tns:obtenerPorIdCategoria" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/obtenerPorIdCategoriaResponse" message="tns:obtenerPorIdCategoriaResponse" />
    </operation>
    <operation name="insertarCategoria">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/insertarCategoriaRequest" message="tns:insertarCategoria" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/insertarCategoriaResponse" message="tns:insertarCategoriaResponse" />
    </operation>
    <operation name="modificarCategoria">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/modificarCategoriaRequest" message="tns:modificarCategoria" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/modificarCategoriaResponse" message="tns:modificarCategoriaResponse" />
    </operation>
    <operation name="listarTodosCategoria">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/listarTodosCategoriaRequest" message="tns:listarTodosCategoria" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Categorias/listarTodosCategoriaResponse" message="tns:listarTodosCategoriaResponse" />
    </operation>
  </portType>
  <binding name="CategoriasPortBinding" type="tns:Categorias">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CategoriasService">
    <port name="CategoriasPort" binding="tns:CategoriasPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/CategoriasService" />
    </port>
  </service>
</definitions>