FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSCategorias/CategoriasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarCategoria" type="tns:insertarCategoria" />
  <xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />
  <xs:element name="listarTodosCategoria" type="tns:listarTodosCategoria" />
  <xs:element name="listarTodosCategoriaResponse" type="tns:listarTodosCategoriaResponse" />
  <xs:element name="modificarCategoria" type="tns:modificarCategoria" />
  <xs:element name="modificarCategoriaResponse" type="tns:modificarCategoriaResponse" />
  <xs:element name="obtenerPorIdCategoria" type="tns:obtenerPorIdCategoria" />
  <xs:element name="obtenerPorIdCategoriaResponse" type="tns:obtenerPorIdCategoriaResponse" />
  <xs:complexType name="modificarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCategoria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCategoria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoriasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreCategoria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>