FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSTallas/TallasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarTalla" type="tns:insertarTalla" />
  <xs:element name="insertarTallaResponse" type="tns:insertarTallaResponse" />
  <xs:element name="listarTodosTalla" type="tns:listarTodosTalla" />
  <xs:element name="listarTodosTallaResponse" type="tns:listarTodosTallaResponse" />
  <xs:element name="modificarTalla" type="tns:modificarTalla" />
  <xs:element name="modificarTallaResponse" type="tns:modificarTallaResponse" />
  <xs:element name="obtenerPorIdTalla" type="tns:obtenerPorIdTalla" />
  <xs:element name="obtenerPorIdTallaResponse" type="tns:obtenerPorIdTallaResponse" />
  <xs:complexType name="insertarTalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroTalla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTallaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="tallaId" type="xs:int" />
      <xs:element minOccurs="0" name="numeroTalla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTallaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosTalla">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTallaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tallasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tallasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="talla_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="tallaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTallaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tallasDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>