FrontEnd/KawkiWebBusiness/Connected Services/KawkiWebWSComprobantesPago/ComprobantesPagoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coloresDTO" type="tns:coloresDTO" />
  <xs:element name="comprobantesPagoDTO" type="tns:comprobantesPagoDTO" />
  <xs:element name="descuentosDTO" type="tns:descuentosDTO" />
  <xs:element name="detalleVentasDTO" type="tns:detalleVentasDTO" />
  <xs:element name="insertarComprobPago" type="tns:insertarComprobPago" />
  <xs:element name="insertarComprobPagoResponse" type="tns:insertarComprobPagoResponse" />
  <xs:element name="listarTodosComprobantePago" type="tns:listarTodosComprobantePago" />
  <xs:element name="listarTodosComprobantePagoResponse" type="tns:listarTodosComprobantePagoResponse" />
  <xs:element name="metodosPagoDTO" type="tns:metodosPagoDTO" />
  <xs:element name="modificarComprobPago" type="tns:modificarComprobPago" />
  <xs:element name="modificarComprobPagoResponse" type="tns:modificarComprobPagoResponse" />
  <xs:element name="obtenerPorIdComprobPago" type="tns:obtenerPorIdComprobPago" />
  <xs:element name="obtenerPorIdComprobPagoResponse" type="tns:obtenerPorIdComprobPagoResponse" />
  <xs:element name="obtenerPorVentaIdComprobPago" type="tns:obtenerPorVentaIdComprobPago" />
  <xs:element name="obtenerPorVentaIdComprobPagoResponse" type="tns:obtenerPorVentaIdComprobPagoResponse" />
  <xs:element name="productosVariantesDTO" type="tns:productosVariantesDTO" />
  <xs:element name="redesSocialesDTO" type="tns:redesSocialesDTO" />
  <xs:element name="tallasDTO" type="tns:tallasDTO" />
  <xs:element name="tiposBeneficioDTO" type="tns:tiposBeneficioDTO" />
  <xs:element name="tiposComprobanteDTO" type="tns:tiposComprobanteDTO" />
  <xs:element name="tiposCondicionDTO" type="tns:tiposCondicionDTO" />
  <xs:element name="tiposUsuarioDTO" type="tns:tiposUsuarioDTO" />
  <xs:element name="usuariosDTO" type="tns:usuariosDTO" />
  <xs:element name="ventasDTO" type="tns:ventasDTO" />
  <xs:complexType name="obtenerPorIdComprobPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdComprobPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobantesPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantesPagoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago_id" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_hora_creacion" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_comprobante" type="tns:tiposComprobanteDTO" />
      <xs:element minOccurs="0" name="numero_serie" type="xs:string" />
      <xs:element minOccurs="0" name="dni_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="direccion_fiscal_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="telefono_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="venta" type="tns:ventasDTO" />
      <xs:element minOccurs="0" name="metodo_pago" type="tns:metodosPagoDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="igv" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposComprobanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_comprobante_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ventasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="venta_id" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
      <xs:element minOccurs="0" name="fecha_hora_creacion" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuentosDTO" />
      <xs:element minOccurs="0" name="redSocial" type="tns:redesSocialesDTO" />
      <xs:element minOccurs="0" name="esValida" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detalles" nillable="true" type="tns:detalleVentasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apePaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tiposUsuarioDTO" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuentosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descuento_id" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_condicion" type="tns:tiposCondicionDTO" />
      <xs:element minOccurs="0" name="valor_condicion" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_beneficio" type="tns:tiposBeneficioDTO" />
      <xs:element minOccurs="0" name="valor_beneficio" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:string" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposCondicionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_condicion_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposBeneficioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_beneficio_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="redesSocialesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="redSocialId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleVentasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalle_venta_id" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precio_unitario" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="venta_id" type="xs:int" />
      <xs:element minOccurs="0" name="prodVariante" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productosVariantesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stock_minimo" type="xs:int" />
      <xs:element minOccurs="0" name="alerta_stock" type="xs:boolean" />
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="tns:coloresDTO" />
      <xs:element minOccurs="0" name="talla" type="tns:tallasDTO" />
      <xs:element minOccurs="0" name="url_imagen" type="xs:string" />
      <xs:element minOccurs="0" name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
      <xs:element minOccurs="0" name="fecha_hora_creacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coloresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tallasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="talla_id" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodosPagoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodo_pago_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarComprobPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante_pago_id" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_comprobante" type="tns:tiposComprobanteDTO" />
      <xs:element minOccurs="0" name="dni_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="direccion_fiscal_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="telefono_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="venta" type="tns:ventasDTO" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodosPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarComprobPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo_comprobante" type="tns:tiposComprobanteDTO" />
      <xs:element minOccurs="0" name="dni_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="direccion_fiscal_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="telefono_cliente" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="venta" type="tns:ventasDTO" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodosPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorVentaIdComprobPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="venta_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorVentaIdComprobPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobantesPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosComprobantePago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosComprobantePagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantesPagoDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>