FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSEstilos/EstilosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarEstilo" type="tns:insertarEstilo" />
  <xs:element name="insertarEstiloResponse" type="tns:insertarEstiloResponse" />
  <xs:element name="listarTodosEstilo" type="tns:listarTodosEstilo" />
  <xs:element name="listarTodosEstiloResponse" type="tns:listarTodosEstiloResponse" />
  <xs:element name="modificarEstilo" type="tns:modificarEstilo" />
  <xs:element name="modificarEstiloResponse" type="tns:modificarEstiloResponse" />
  <xs:element name="obtenerPorIdEstilo" type="tns:obtenerPorIdEstilo" />
  <xs:element name="obtenerPorIdEstiloResponse" type="tns:obtenerPorIdEstiloResponse" />
  <xs:complexType name="obtenerPorIdEstilo">
    <xs:sequence>
      <xs:element minOccurs="0" name="estiloId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdEstiloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:estilosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estilosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estilo_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEstilo">
    <xs:sequence>
      <xs:element minOccurs="0" name="estiloId" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEstilo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEstiloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEstilo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreEstilo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEstiloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosEstilo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosEstiloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estilosDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>