FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSEstilos/EstilosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EstilosService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/EstilosService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarEstilo">
    <part name="parameters" element="tns:modificarEstilo" />
  </message>
  <message name="modificarEstiloResponse">
    <part name="parameters" element="tns:modificarEstiloResponse" />
  </message>
  <message name="insertarEstilo">
    <part name="parameters" element="tns:insertarEstilo" />
  </message>
  <message name="insertarEstiloResponse">
    <part name="parameters" element="tns:insertarEstiloResponse" />
  </message>
  <message name="obtenerPorIdEstilo">
    <part name="parameters" element="tns:obtenerPorIdEstilo" />
  </message>
  <message name="obtenerPorIdEstiloResponse">
    <part name="parameters" element="tns:obtenerPorIdEstiloResponse" />
  </message>
  <message name="listarTodosEstilo">
    <part name="parameters" element="tns:listarTodosEstilo" />
  </message>
  <message name="listarTodosEstiloResponse">
    <part name="parameters" element="tns:listarTodosEstiloResponse" />
  </message>
  <portType name="Estilos">
    <operation name="modificarEstilo">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/modificarEstiloRequest" message="tns:modificarEstilo" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/modificarEstiloResponse" message="tns:modificarEstiloResponse" />
    </operation>
    <operation name="insertarEstilo">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/insertarEstiloRequest" message="tns:insertarEstilo" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/insertarEstiloResponse" message="tns:insertarEstiloResponse" />
    </operation>
    <operation name="obtenerPorIdEstilo">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/obtenerPorIdEstiloRequest" message="tns:obtenerPorIdEstilo" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/obtenerPorIdEstiloResponse" message="tns:obtenerPorIdEstiloResponse" />
    </operation>
    <operation name="listarTodosEstilo">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/listarTodosEstiloRequest" message="tns:listarTodosEstilo" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Estilos/listarTodosEstiloResponse" message="tns:listarTodosEstiloResponse" />
    </operation>
  </portType>
  <binding name="EstilosPortBinding" type="tns:Estilos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarEstilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEstilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdEstilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosEstilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EstilosService">
    <port name="EstilosPort" binding="tns:EstilosPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/EstilosService" />
    </port>
  </service>
</definitions>