FrontEnd_v2/FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSReportes/ReportesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteEstadoStock" type="tns:generarReporteEstadoStock" />
  <xs:element name="generarReporteEstadoStockResponse" type="tns:generarReporteEstadoStockResponse" />
  <xs:element name="generarReporteVentasYTendencias" type="tns:generarReporteVentasYTendencias" />
  <xs:element name="generarReporteVentasYTendenciasResponse" type="tns:generarReporteVentasYTendenciasResponse" />
  <xs:complexType name="generarReporteVentasYTendencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteVentasYTendenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteEstadoStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteEstadoStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>