FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSMetodosPago/MetodosPagoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosMetodoPago" type="tns:listarTodosMetodoPago" />
  <xs:element name="listarTodosMetodoPagoResponse" type="tns:listarTodosMetodoPagoResponse" />
  <xs:element name="metodosPagoDTO" type="tns:metodosPagoDTO" />
  <xs:element name="obtenerPorIdMetodoPago" type="tns:obtenerPorIdMetodoPago" />
  <xs:element name="obtenerPorIdMetodoPagoResponse" type="tns:obtenerPorIdMetodoPagoResponse" />
  <xs:complexType name="obtenerPorIdMetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPagoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdMetodoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:metodosPagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodosPagoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodo_pago_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosMetodoPago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosMetodoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metodosPagoDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>