FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSProductosVariantes/ProductosVariantesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductosVariantesService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/ProductosVariantesService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorColorProdVariante">
    <part name="parameters" element="tns:listarPorColorProdVariante" />
  </message>
  <message name="listarPorColorProdVarianteResponse">
    <part name="parameters" element="tns:listarPorColorProdVarianteResponse" />
  </message>
  <message name="insertarProdVariante">
    <part name="parameters" element="tns:insertarProdVariante" />
  </message>
  <message name="insertarProdVarianteResponse">
    <part name="parameters" element="tns:insertarProdVarianteResponse" />
  </message>
  <message name="listarPorTallaProdVariante">
    <part name="parameters" element="tns:listarPorTallaProdVariante" />
  </message>
  <message name="listarPorTallaProdVarianteResponse">
    <part name="parameters" element="tns:listarPorTallaProdVarianteResponse" />
  </message>
  <message name="obtenerPorIdProdVariante">
    <part name="parameters" element="tns:obtenerPorIdProdVariante" />
  </message>
  <message name="obtenerPorIdProdVarianteResponse">
    <part name="parameters" element="tns:obtenerPorIdProdVarianteResponse" />
  </message>
  <message name="listarTodosProdVariante">
    <part name="parameters" element="tns:listarTodosProdVariante" />
  </message>
  <message name="listarTodosProdVarianteResponse">
    <part name="parameters" element="tns:listarTodosProdVarianteResponse" />
  </message>
  <message name="modificarProdVariante">
    <part name="parameters" element="tns:modificarProdVariante" />
  </message>
  <message name="modificarProdVarianteResponse">
    <part name="parameters" element="tns:modificarProdVarianteResponse" />
  </message>
  <message name="listarConStockBajoProdVariante">
    <part name="parameters" element="tns:listarConStockBajoProdVariante" />
  </message>
  <message name="listarConStockBajoProdVarianteResponse">
    <part name="parameters" element="tns:listarConStockBajoProdVarianteResponse" />
  </message>
  <message name="actualizarStockProdVariante">
    <part name="parameters" element="tns:actualizarStockProdVariante" />
  </message>
  <message name="actualizarStockProdVarianteResponse">
    <part name="parameters" element="tns:actualizarStockProdVarianteResponse" />
  </message>
  <message name="tieneStockDisponibleProdVariante">
    <part name="parameters" element="tns:tieneStockDisponibleProdVariante" />
  </message>
  <message name="tieneStockDisponibleProdVarianteResponse">
    <part name="parameters" element="tns:tieneStockDisponibleProdVarianteResponse" />
  </message>
  <message name="listarPorProductoProdVariante">
    <part name="parameters" element="tns:listarPorProductoProdVariante" />
  </message>
  <message name="listarPorProductoProdVarianteResponse">
    <part name="parameters" element="tns:listarPorProductoProdVarianteResponse" />
  </message>
  <portType name="ProductosVariantes">
    <operation name="listarPorColorProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorColorProdVarianteRequest" message="tns:listarPorColorProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorColorProdVarianteResponse" message="tns:listarPorColorProdVarianteResponse" />
    </operation>
    <operation name="insertarProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/insertarProdVarianteRequest" message="tns:insertarProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/insertarProdVarianteResponse" message="tns:insertarProdVarianteResponse" />
    </operation>
    <operation name="listarPorTallaProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorTallaProdVarianteRequest" message="tns:listarPorTallaProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorTallaProdVarianteResponse" message="tns:listarPorTallaProdVarianteResponse" />
    </operation>
    <operation name="obtenerPorIdProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/obtenerPorIdProdVarianteRequest" message="tns:obtenerPorIdProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/obtenerPorIdProdVarianteResponse" message="tns:obtenerPorIdProdVarianteResponse" />
    </operation>
    <operation name="listarTodosProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarTodosProdVarianteRequest" message="tns:listarTodosProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarTodosProdVarianteResponse" message="tns:listarTodosProdVarianteResponse" />
    </operation>
    <operation name="modificarProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/modificarProdVarianteRequest" message="tns:modificarProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/modificarProdVarianteResponse" message="tns:modificarProdVarianteResponse" />
    </operation>
    <operation name="listarConStockBajoProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarConStockBajoProdVarianteRequest" message="tns:listarConStockBajoProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarConStockBajoProdVarianteResponse" message="tns:listarConStockBajoProdVarianteResponse" />
    </operation>
    <operation name="actualizarStockProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/actualizarStockProdVarianteRequest" message="tns:actualizarStockProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/actualizarStockProdVarianteResponse" message="tns:actualizarStockProdVarianteResponse" />
    </operation>
    <operation name="tieneStockDisponibleProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/tieneStockDisponibleProdVarianteRequest" message="tns:tieneStockDisponibleProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/tieneStockDisponibleProdVarianteResponse" message="tns:tieneStockDisponibleProdVarianteResponse" />
    </operation>
    <operation name="listarPorProductoProdVariante">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorProductoProdVarianteRequest" message="tns:listarPorProductoProdVariante" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/ProductosVariantes/listarPorProductoProdVarianteResponse" message="tns:listarPorProductoProdVarianteResponse" />
    </operation>
  </portType>
  <binding name="ProductosVariantesPortBinding" type="tns:ProductosVariantes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorColorProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorTallaProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarConStockBajoProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarStockProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tieneStockDisponibleProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorProductoProdVariante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductosVariantesService">
    <port name="ProductosVariantesPort" binding="tns:ProductosVariantesPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/ProductosVariantesService" />
    </port>
  </service>
</definitions>