FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSProductosVariantes/ProductosVariantesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarStockProdVariante" type="tns:actualizarStockProdVariante" />
  <xs:element name="actualizarStockProdVarianteResponse" type="tns:actualizarStockProdVarianteResponse" />
  <xs:element name="coloresDTO" type="tns:coloresDTO" />
  <xs:element name="insertarProdVariante" type="tns:insertarProdVariante" />
  <xs:element name="insertarProdVarianteResponse" type="tns:insertarProdVarianteResponse" />
  <xs:element name="listarConStockBajoProdVariante" type="tns:listarConStockBajoProdVariante" />
  <xs:element name="listarConStockBajoProdVarianteResponse" type="tns:listarConStockBajoProdVarianteResponse" />
  <xs:element name="listarPorColorProdVariante" type="tns:listarPorColorProdVariante" />
  <xs:element name="listarPorColorProdVarianteResponse" type="tns:listarPorColorProdVarianteResponse" />
  <xs:element name="listarPorProductoProdVariante" type="tns:listarPorProductoProdVariante" />
  <xs:element name="listarPorProductoProdVarianteResponse" type="tns:listarPorProductoProdVarianteResponse" />
  <xs:element name="listarPorTallaProdVariante" type="tns:listarPorTallaProdVariante" />
  <xs:element name="listarPorTallaProdVarianteResponse" type="tns:listarPorTallaProdVarianteResponse" />
  <xs:element name="listarTodosProdVariante" type="tns:listarTodosProdVariante" />
  <xs:element name="listarTodosProdVarianteResponse" type="tns:listarTodosProdVarianteResponse" />
  <xs:element name="modificarProdVariante" type="tns:modificarProdVariante" />
  <xs:element name="modificarProdVarianteResponse" type="tns:modificarProdVarianteResponse" />
  <xs:element name="obtenerPorIdProdVariante" type="tns:obtenerPorIdProdVariante" />
  <xs:element name="obtenerPorIdProdVarianteResponse" type="tns:obtenerPorIdProdVarianteResponse" />
  <xs:element name="productosVariantesDTO" type="tns:productosVariantesDTO" />
  <xs:element name="tallasDTO" type="tns:tallasDTO" />
  <xs:element name="tieneStockDisponibleProdVariante" type="tns:tieneStockDisponibleProdVariante" />
  <xs:element name="tieneStockDisponibleProdVarianteResponse" type="tns:tieneStockDisponibleProdVarianteResponse" />
  <xs:element name="tiposUsuarioDTO" type="tns:tiposUsuarioDTO" />
  <xs:element name="usuariosDTO" type="tns:usuariosDTO" />
  <xs:complexType name="insertarProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stock_minimo" type="xs:int" />
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="tns:coloresDTO" />
      <xs:element minOccurs="0" name="talla" type="tns:tallasDTO" />
      <xs:element minOccurs="0" name="url_imagen" type="xs:string" />
      <xs:element minOccurs="0" name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coloresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tallasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="talla_id" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apePaterno" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tiposUsuarioDTO" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tieneStockDisponibleProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tieneStockDisponibleProdVarianteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarStockProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
      <xs:element minOccurs="0" name="nuevo_stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarStockProdVarianteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productosVariantesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stock_minimo" type="xs:int" />
      <xs:element minOccurs="0" name="alerta_stock" type="xs:boolean" />
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="tns:coloresDTO" />
      <xs:element minOccurs="0" name="talla" type="tns:tallasDTO" />
      <xs:element minOccurs="0" name="url_imagen" type="xs:string" />
      <xs:element minOccurs="0" name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
      <xs:element minOccurs="0" name="fecha_hora_creacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorProductoProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorProductoProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorTallaProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="talla_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorTallaProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorColorProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorColorProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarConStockBajoProdVariante">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarConStockBajoProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProdVariante">
    <xs:sequence>
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stock_minimo" type="xs:int" />
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
      <xs:element minOccurs="0" name="color" type="tns:coloresDTO" />
      <xs:element minOccurs="0" name="talla" type="tns:tallasDTO" />
      <xs:element minOccurs="0" name="url_imagen" type="xs:string" />
      <xs:element minOccurs="0" name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosProdVariante">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosProdVarianteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productosVariantesDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>