FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSDetalleVentas/DetalleVentasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarDetalleVenta" type="tns:insertarDetalleVenta" />
  <xs:element name="insertarDetalleVentaResponse" type="tns:insertarDetalleVentaResponse" />
  <xs:element name="listarPorVentaIdDetalleVenta" type="tns:listarPorVentaIdDetalleVenta" />
  <xs:element name="listarPorVentaIdDetalleVentaResponse" type="tns:listarPorVentaIdDetalleVentaResponse" />
  <xs:element name="listarTodosDetalleVenta" type="tns:listarTodosDetalleVenta" />
  <xs:element name="listarTodosDetalleVentaResponse" type="tns:listarTodosDetalleVentaResponse" />
  <xs:element name="modificarDetalleVenta" type="tns:modificarDetalleVenta" />
  <xs:element name="modificarDetalleVentaResponse" type="tns:modificarDetalleVentaResponse" />
  <xs:element name="obtenerPorIdDetalleVenta" type="tns:obtenerPorIdDetalleVenta" />
  <xs:element name="obtenerPorIdDetalleVentaResponse" type="tns:obtenerPorIdDetalleVentaResponse" />
  <xs:complexType name="listarPorVentaIdDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorVentaIdDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleVentasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleVentasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="detalle_venta_id" type="xs:int" />
      <xs:element minOccurs="0" name="precio_unitario" type="xs:double" />
      <xs:element minOccurs="0" name="prodVariante" type="tns:productosVariantesDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="venta_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productosVariantesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="alerta_stock" type="xs:boolean" />
      <xs:element minOccurs="0" name="color" type="tns:coloresDTO" />
      <xs:element minOccurs="0" name="disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha_hora_creacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="prod_variante_id" type="xs:int" />
      <xs:element minOccurs="0" name="producto_id" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stock_minimo" type="xs:int" />
      <xs:element minOccurs="0" name="talla" type="tns:tallasDTO" />
      <xs:element minOccurs="0" name="url_imagen" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coloresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDateTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tallasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="talla_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apePaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraCreacion" type="tns:localDateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tiposUsuarioDTO" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tiposUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleVentaId" type="xs:int" />
      <xs:element minOccurs="0" name="productoVar" type="tns:productosVariantesDTO" />
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleVentasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosDetalleVenta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleVentasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoVar" type="tns:productosVariantesDTO" />
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>