FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSDetalleVentas/DetalleVentasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DetalleVentasService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/DetalleVentasService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorVentaIdDetalleVenta">
    <part name="parameters" element="tns:listarPorVentaIdDetalleVenta" />
  </message>
  <message name="listarPorVentaIdDetalleVentaResponse">
    <part name="parameters" element="tns:listarPorVentaIdDetalleVentaResponse" />
  </message>
  <message name="insertarDetalleVenta">
    <part name="parameters" element="tns:insertarDetalleVenta" />
  </message>
  <message name="insertarDetalleVentaResponse">
    <part name="parameters" element="tns:insertarDetalleVentaResponse" />
  </message>
  <message name="listarTodosDetalleVenta">
    <part name="parameters" element="tns:listarTodosDetalleVenta" />
  </message>
  <message name="listarTodosDetalleVentaResponse">
    <part name="parameters" element="tns:listarTodosDetalleVentaResponse" />
  </message>
  <message name="modificarDetalleVenta">
    <part name="parameters" element="tns:modificarDetalleVenta" />
  </message>
  <message name="modificarDetalleVentaResponse">
    <part name="parameters" element="tns:modificarDetalleVentaResponse" />
  </message>
  <message name="obtenerPorIdDetalleVenta">
    <part name="parameters" element="tns:obtenerPorIdDetalleVenta" />
  </message>
  <message name="obtenerPorIdDetalleVentaResponse">
    <part name="parameters" element="tns:obtenerPorIdDetalleVentaResponse" />
  </message>
  <portType name="DetalleVentas">
    <operation name="listarPorVentaIdDetalleVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/listarPorVentaIdDetalleVentaRequest" message="tns:listarPorVentaIdDetalleVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/listarPorVentaIdDetalleVentaResponse" message="tns:listarPorVentaIdDetalleVentaResponse" />
    </operation>
    <operation name="insertarDetalleVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/insertarDetalleVentaRequest" message="tns:insertarDetalleVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/insertarDetalleVentaResponse" message="tns:insertarDetalleVentaResponse" />
    </operation>
    <operation name="listarTodosDetalleVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/listarTodosDetalleVentaRequest" message="tns:listarTodosDetalleVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/listarTodosDetalleVentaResponse" message="tns:listarTodosDetalleVentaResponse" />
    </operation>
    <operation name="modificarDetalleVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/modificarDetalleVentaRequest" message="tns:modificarDetalleVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/modificarDetalleVentaResponse" message="tns:modificarDetalleVentaResponse" />
    </operation>
    <operation name="obtenerPorIdDetalleVenta">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/obtenerPorIdDetalleVentaRequest" message="tns:obtenerPorIdDetalleVenta" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/DetalleVentas/obtenerPorIdDetalleVentaResponse" message="tns:obtenerPorIdDetalleVentaResponse" />
    </operation>
  </portType>
  <binding name="DetalleVentasPortBinding" type="tns:DetalleVentas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorVentaIdDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DetalleVentasService">
    <port name="DetalleVentasPort" binding="tns:DetalleVentasPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/DetalleVentasService" />
    </port>
  </service>
</definitions>