FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSDescuentos/DescuentosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DescuentosService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/DescuentosService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdDescuento">
    <part name="parameters" element="tns:obtenerPorIdDescuento" />
  </message>
  <message name="obtenerPorIdDescuentoResponse">
    <part name="parameters" element="tns:obtenerPorIdDescuentoResponse" />
  </message>
  <message name="listarTodosDescuento">
    <part name="parameters" element="tns:listarTodosDescuento" />
  </message>
  <message name="listarTodosDescuentoResponse">
    <part name="parameters" element="tns:listarTodosDescuentoResponse" />
  </message>
  <message name="desactivarDescuento">
    <part name="parameters" element="tns:desactivarDescuento" />
  </message>
  <message name="desactivarDescuentoResponse">
    <part name="parameters" element="tns:desactivarDescuentoResponse" />
  </message>
  <message name="listarVigentesDescuento">
    <part name="parameters" element="tns:listarVigentesDescuento" />
  </message>
  <message name="listarVigentesDescuentoResponse">
    <part name="parameters" element="tns:listarVigentesDescuentoResponse" />
  </message>
  <message name="esAplicableDescuento">
    <part name="parameters" element="tns:esAplicableDescuento" />
  </message>
  <message name="esAplicableDescuentoResponse">
    <part name="parameters" element="tns:esAplicableDescuentoResponse" />
  </message>
  <message name="calcularDescuentoDescuento">
    <part name="parameters" element="tns:calcularDescuentoDescuento" />
  </message>
  <message name="calcularDescuentoDescuentoResponse">
    <part name="parameters" element="tns:calcularDescuentoDescuentoResponse" />
  </message>
  <message name="listarActivasDescuento">
    <part name="parameters" element="tns:listarActivasDescuento" />
  </message>
  <message name="listarActivasDescuentoResponse">
    <part name="parameters" element="tns:listarActivasDescuentoResponse" />
  </message>
  <message name="modificarDescuento">
    <part name="parameters" element="tns:modificarDescuento" />
  </message>
  <message name="modificarDescuentoResponse">
    <part name="parameters" element="tns:modificarDescuentoResponse" />
  </message>
  <message name="insertarDescuento">
    <part name="parameters" element="tns:insertarDescuento" />
  </message>
  <message name="insertarDescuentoResponse">
    <part name="parameters" element="tns:insertarDescuentoResponse" />
  </message>
  <message name="activarDescuento">
    <part name="parameters" element="tns:activarDescuento" />
  </message>
  <message name="activarDescuentoResponse">
    <part name="parameters" element="tns:activarDescuentoResponse" />
  </message>
  <portType name="Descuentos">
    <operation name="obtenerPorIdDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/obtenerPorIdDescuentoRequest" message="tns:obtenerPorIdDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/obtenerPorIdDescuentoResponse" message="tns:obtenerPorIdDescuentoResponse" />
    </operation>
    <operation name="listarTodosDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarTodosDescuentoRequest" message="tns:listarTodosDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarTodosDescuentoResponse" message="tns:listarTodosDescuentoResponse" />
    </operation>
    <operation name="desactivarDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/desactivarDescuentoRequest" message="tns:desactivarDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/desactivarDescuentoResponse" message="tns:desactivarDescuentoResponse" />
    </operation>
    <operation name="listarVigentesDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarVigentesDescuentoRequest" message="tns:listarVigentesDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarVigentesDescuentoResponse" message="tns:listarVigentesDescuentoResponse" />
    </operation>
    <operation name="esAplicableDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/esAplicableDescuentoRequest" message="tns:esAplicableDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/esAplicableDescuentoResponse" message="tns:esAplicableDescuentoResponse" />
    </operation>
    <operation name="calcularDescuentoDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/calcularDescuentoDescuentoRequest" message="tns:calcularDescuentoDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/calcularDescuentoDescuentoResponse" message="tns:calcularDescuentoDescuentoResponse" />
    </operation>
    <operation name="listarActivasDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarActivasDescuentoRequest" message="tns:listarActivasDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/listarActivasDescuentoResponse" message="tns:listarActivasDescuentoResponse" />
    </operation>
    <operation name="modificarDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/modificarDescuentoRequest" message="tns:modificarDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/modificarDescuentoResponse" message="tns:modificarDescuentoResponse" />
    </operation>
    <operation name="insertarDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/insertarDescuentoRequest" message="tns:insertarDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/insertarDescuentoResponse" message="tns:insertarDescuentoResponse" />
    </operation>
    <operation name="activarDescuento">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/activarDescuentoRequest" message="tns:activarDescuento" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Descuentos/activarDescuentoResponse" message="tns:activarDescuentoResponse" />
    </operation>
  </portType>
  <binding name="DescuentosPortBinding" type="tns:Descuentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="desactivarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVigentesDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="esAplicableDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="calcularDescuentoDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarActivasDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="activarDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DescuentosService">
    <port name="DescuentosPort" binding="tns:DescuentosPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/DescuentosService" />
    </port>
  </service>
</definitions>