FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSColores/ColoresService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ColoresService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/ColoresService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarColor">
    <part name="parameters" element="tns:modificarColor" />
  </message>
  <message name="modificarColorResponse">
    <part name="parameters" element="tns:modificarColorResponse" />
  </message>
  <message name="obtenerPorIdColor">
    <part name="parameters" element="tns:obtenerPorIdColor" />
  </message>
  <message name="obtenerPorIdColorResponse">
    <part name="parameters" element="tns:obtenerPorIdColorResponse" />
  </message>
  <message name="listarTodosColor">
    <part name="parameters" element="tns:listarTodosColor" />
  </message>
  <message name="listarTodosColorResponse">
    <part name="parameters" element="tns:listarTodosColorResponse" />
  </message>
  <message name="insertarColor">
    <part name="parameters" element="tns:insertarColor" />
  </message>
  <message name="insertarColorResponse">
    <part name="parameters" element="tns:insertarColorResponse" />
  </message>
  <portType name="Colores">
    <operation name="modificarColor">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/modificarColorRequest" message="tns:modificarColor" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/modificarColorResponse" message="tns:modificarColorResponse" />
    </operation>
    <operation name="obtenerPorIdColor">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/obtenerPorIdColorRequest" message="tns:obtenerPorIdColor" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/obtenerPorIdColorResponse" message="tns:obtenerPorIdColorResponse" />
    </operation>
    <operation name="listarTodosColor">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/listarTodosColorRequest" message="tns:listarTodosColor" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/listarTodosColorResponse" message="tns:listarTodosColorResponse" />
    </operation>
    <operation name="insertarColor">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/insertarColorRequest" message="tns:insertarColor" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Colores/insertarColorResponse" message="tns:insertarColorResponse" />
    </operation>
  </portType>
  <binding name="ColoresPortBinding" type="tns:Colores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarColor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdColor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosColor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarColor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ColoresService">
    <port name="ColoresPort" binding="tns:ColoresPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/ColoresService" />
    </port>
  </service>
</definitions>