FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSColores/ColoresService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coloresDTO" type="tns:coloresDTO" />
  <xs:element name="insertarColor" type="tns:insertarColor" />
  <xs:element name="insertarColorResponse" type="tns:insertarColorResponse" />
  <xs:element name="listarTodosColor" type="tns:listarTodosColor" />
  <xs:element name="listarTodosColorResponse" type="tns:listarTodosColorResponse" />
  <xs:element name="modificarColor" type="tns:modificarColor" />
  <xs:element name="modificarColorResponse" type="tns:modificarColorResponse" />
  <xs:element name="obtenerPorIdColor" type="tns:obtenerPorIdColor" />
  <xs:element name="obtenerPorIdColorResponse" type="tns:obtenerPorIdColorResponse" />
  <xs:complexType name="obtenerPorIdColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:coloresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coloresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="color_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreColor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosColor">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:coloresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorId" type="xs:int" />
      <xs:element minOccurs="0" name="nombreColor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>