FrontEnd_v2/KawkiWebBusiness/Connected Services/KawkiWebWSProductos/ProductosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductosService" targetNamespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/KawkiWebWS/ProductosService?xsd=1" namespace="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdProducto">
    <part name="parameters" element="tns:obtenerPorIdProducto" />
  </message>
  <message name="obtenerPorIdProductoResponse">
    <part name="parameters" element="tns:obtenerPorIdProductoResponse" />
  </message>
  <message name="listarPorCategoriaProducto">
    <part name="parameters" element="tns:listarPorCategoriaProducto" />
  </message>
  <message name="listarPorCategoriaProductoResponse">
    <part name="parameters" element="tns:listarPorCategoriaProductoResponse" />
  </message>
  <message name="calcularStockTotalProducto">
    <part name="parameters" element="tns:calcularStockTotalProducto" />
  </message>
  <message name="calcularStockTotalProductoResponse">
    <part name="parameters" element="tns:calcularStockTotalProductoResponse" />
  </message>
  <message name="listarPorEstiloProducto">
    <part name="parameters" element="tns:listarPorEstiloProducto" />
  </message>
  <message name="listarPorEstiloProductoResponse">
    <part name="parameters" element="tns:listarPorEstiloProductoResponse" />
  </message>
  <message name="listarTodosProducto">
    <part name="parameters" element="tns:listarTodosProducto" />
  </message>
  <message name="listarTodosProductoResponse">
    <part name="parameters" element="tns:listarTodosProductoResponse" />
  </message>
  <message name="listarConStockBajoProducto">
    <part name="parameters" element="tns:listarConStockBajoProducto" />
  </message>
  <message name="listarConStockBajoProductoResponse">
    <part name="parameters" element="tns:listarConStockBajoProductoResponse" />
  </message>
  <message name="tieneStockDisponibleProducto">
    <part name="parameters" element="tns:tieneStockDisponibleProducto" />
  </message>
  <message name="tieneStockDisponibleProductoResponse">
    <part name="parameters" element="tns:tieneStockDisponibleProductoResponse" />
  </message>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <portType name="Productos">
    <operation name="obtenerPorIdProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/obtenerPorIdProductoRequest" message="tns:obtenerPorIdProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/obtenerPorIdProductoResponse" message="tns:obtenerPorIdProductoResponse" />
    </operation>
    <operation name="listarPorCategoriaProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarPorCategoriaProductoRequest" message="tns:listarPorCategoriaProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarPorCategoriaProductoResponse" message="tns:listarPorCategoriaProductoResponse" />
    </operation>
    <operation name="calcularStockTotalProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/calcularStockTotalProductoRequest" message="tns:calcularStockTotalProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/calcularStockTotalProductoResponse" message="tns:calcularStockTotalProductoResponse" />
    </operation>
    <operation name="listarPorEstiloProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarPorEstiloProductoRequest" message="tns:listarPorEstiloProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarPorEstiloProductoResponse" message="tns:listarPorEstiloProductoResponse" />
    </operation>
    <operation name="listarTodosProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarTodosProductoRequest" message="tns:listarTodosProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarTodosProductoResponse" message="tns:listarTodosProductoResponse" />
    </operation>
    <operation name="listarConStockBajoProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarConStockBajoProductoRequest" message="tns:listarConStockBajoProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/listarConStockBajoProductoResponse" message="tns:listarConStockBajoProductoResponse" />
    </operation>
    <operation name="tieneStockDisponibleProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/tieneStockDisponibleProductoRequest" message="tns:tieneStockDisponibleProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/tieneStockDisponibleProductoResponse" message="tns:tieneStockDisponibleProductoResponse" />
    </operation>
    <operation name="modificarProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://kawkiwebws.services.kawkiweb.pucp.edu.pe/Productos/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductosPortBinding" type="tns:Productos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="calcularStockTotalProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEstiloProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarConStockBajoProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tieneStockDisponibleProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductosService">
    <port name="ProductosPort" binding="tns:ProductosPortBinding">
      <soap:address location="http://localhost:8080/KawkiWebWS/ProductosService" />
    </port>
  </service>
</definitions>